<!DOCTYPE html>
<html lang="en">

<%if @filter_date=="NO RIDES"%>

<h4>Sorry, no rides available based on your criteria.</h4>
<br>
<%= link_to "Create a New Ride", "/rides/new", :class => "btn btn-default btn-md" %>

<%else%>
<h4> Displaying <%=@filter_rides.count%> ride(s) from <%=@filter_rides.first.origin%> to <%=@filter_rides.first.destination%> for <%=@filter_date.strftime("%A, %m/%d/%Y") %> </h4>
<br>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Depart By</th>
            <th>Number of Open Seats</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        <% @filter_rides.each do |ride|%>
        <tr>
            <td><%= ride.depart_time_2.strftime("%l:%M %p") %> </td>
            <td><%=Match.where(:ride_id => ride.id).count%> of 4 seats</td>
            <td><%= ride.comments %> </td>

            <% user = User.find_by(:id => session[:user_id]) %>
            <% if user.present? %>
            <td> <form action="/rides/join" role="form">
                    <input type="hidden" name="ride_id" id="ride_id" value="<%= ride.id %>" >
                    <button type="submit" class="btn btn-primary btn-sm">Join Ride</button>
                    </form>
            </td>
            <% else %>
            <td>Sign in to join ride</td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>

<h4>Don't see something that works for you?</h4>
<%= link_to "Create a New Ride", "/rides/new", :class => "btn btn-default btn-sm" %>
<% end %>
